[build]
rustflags = [
	"-C",
	"target-cpu=native",
	"-C",
	"target-feature=+bmi2,+lzcnt,+popcnt",
]

[target.aarch64-unknown-linux-gnu]
rustflags = ["-C", "target-cpu=neoverse-n1", "-C", "target-feature=+neon,+crc,+crypto"]
